
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>map</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css' rel='stylesheet' />
</head>
<body style="margin: 0;">
    
    <div id="map" style="width: 50vw; height: 100vh"></div>

    <div>
        <button id="toggleOff"> toggle Off </button>
        <button id="toggleOn"> toggle On </button>
    </div>
    


<script src="../static/js/map.js"></script>
</body>
</html>

