<!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>Summary</title>
  <style>
  /* Have fun Daniel + Justin */
  </style>

  <h1>
    SUMMARY
  </h1>

  <h2>
    Average Trip Distance by Year
  </h2>
  <div>
    <canvas id="distance_chart"></canvas>
    <text id="distance_x">{{avg_distance_x}}</text>
    <text id="distance_y">{{avg_distance_y}}</text>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
  

  <script src="../static/js/stats.js"></script>
</html>