<!DOCTYPE html> 
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>Summary</title>
  <style>
  /* Have fun Daniel + Justin */
  </style>

  <h1>
    SUMMARY
  </h1>

  <div>
    <h2>
      Average Trip Distance by Year
    </h2>
    <canvas id="distance_chart_yr"></canvas>
    <text id="distance_x1">{{years}}</text>
    <text id="distance_y1">{{avg_d_yr}}</text>
  </div>

  <div>
    <h2>
      Average Trip Distance by Month 
    </h2>
    <canvas id="distance_chart_m"></canvas>
    <text id="distance_x2">{{months}}</text>
    <text id="distance_y2">{{avg_d_m}}</text>
  </div>

  <div>
    <h2>
      Total Fare Paid
    </h2>
    <canvas id="total_fare"></canvas>
    <text id="fare_x">{{years}}</text>
    <text id="fare_stack">{{fare_stack}}</text>
    <text id="fare_y">{{total_fare_myr}}</text>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
  

  <script src="../static/js/stats.js"></script>
</html> 